*{
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
}

body{
    margin:0;
    width: 100%;
    height: 100%;
}

.main-header{
    background: black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.main-header > div{
    display: inline-block;
    vertical-align: middle;
}

.header_logo__link{
    text-decoration: none;
    font-family: 'Monoton', cursive;
    color: gold;
    cursor: pointer;
    font-size: 28px;
    margin: 8px 16px;
    transition: color 2s, transform 2s; 
    margin-left: 140px;
}

.header_logo__link:hover{
    color: rgb(164, 207, 243);
}

.header_nav{
    display:inline-block;
    width: calc(100% - 457px);
    text-align: right;
    margin-right: 140px;
}

.header_nav__list{
    margin: 0;
    text-align: right;
    padding: 0;
}

.header_nav__listitem{
    display: inline-block;
    text-decoration: none;
}

.nav_listitem__link{
    text-decoration: none;
    color: rgb(211, 200, 200);
    font-family: 'Carter One', cursive;
    margin: 1.5rem;  
}

.nav_listitem__link:hover,
.nav_listitem__link:active{
    color: gold;
    border-bottom: 3px solid white;
}

.header_nav__listitem svg{
    width: 48px;
    height: 48px;
    vertical-align: middle;
}

.header_nav__listitem svg g{
    fill: white;
    stroke: white;
}

.header_nav__listitem svg g :hover,
.header_nav__listitem svg g :active{
    fill: gold;
    stroke: gold;
    background: gold;
}

.body_main{
    width: 100%;
    height: 100%;
}

.body_main__intro{
    width: 100%;
    /*height: 424px;*/
    height: 500px;
    background-color: #153956;
}

.main_intro__content{
    /*display: inline-block;*/
    font-family: 'Josefin Sans', sans-serif;
    /*padding: 28px;*/
    color: white;
    margin-left: 108px;
    font-size: x-large;
    vertical-align: middle;
    position: relative;
    top:48px;
    padding: 32px 0;
    /*display: inline-block;*/
    /*width: 100%;*/
}

.main_intro__container {
    display: inline-block;
    vertical-align: middle;
    height: 240px;
    text-align: left;
    padding: 8px 0;
}

.main_intro__selfie_container{
    display: inline-block;
    vertical-align: middle;
    padding: 8px 0;
}

.main_intro__selfie{
    /*display: inline-block;*/
    border:4px solid gold;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    /*margin: 32px;*/
    margin: 0;
    vertical-align: middle;
    /*position: relative;*/
    background: url("images/selfie.JPG");
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    background-color: rgb(105, 103, 103);
}


.main_intro_secondary{
    margin-left: 108px;
}

@media only screen and (min-width: 320px) and (max-width:428px){
    .body_main__intro{

        width: 100%;
    }
    
    .header_logo__link{
        font-size: 20px;
        vertical-align: middle;
        position: fixed;
    }

    .header_nav{
        display:none;
        /*width: calc(100% - 457px);*/
        text-align: left;
    }

    .main-header{
        height: 80px;
    }

    .main-header > div{
        display: inline-block;
        vertical-align: middle;
    }

    .main_intro__header{
        display: block;
        font-size: large;
    }

    .main_intro__content p{
        display: block;
    }

    .main_intro__selfie{
        display: inline-block;
        position: fixed;
        top:5px;
        right: 0;
        z-index: 300;
        width: 70px;
        height: 70px;
        vertical-align: middle;
        margin-right: 10px;
    }

    .main_intro__content{
        font-size: medium;
        margin-left: 20px;
    }

    .main_intro_secondary{
        margin-left: 20px;
    }

    .work_companies__list{
        display: block !important;
        width: 100% !important; 
        position: relative;
        right: 20px;
        bottom: 20px;
    }

    .work_companies__listitem svg {
        width: 50px !important;
        height: 50px !important;
        margin: 2px !important;
    }

    .main_intro__button{
        display: block !important;
        padding: 10px !important;
        width: 8em !important;
        position: relative;
        left: 70px;
        top:110px;
    }
}

.main_intro__header{
   vertical-align: middle;
   margin:0;
   /*position: relative;
   top:36px;*/
   padding: 4px 8px;
}

.main_intro__content p{
    /*position: relative;
    top:48px;*/
    margin: 0;
    text-align: left;
    padding: 4px 8px;
    line-height: 1.6;
    /*display: inline-block;*/
}

.main_intro__button{
    border: 2px solid white;
    width: 12rem;
    text-align: center;
    padding: 0.8rem;
    border-radius: 16px;
    font-weight: bolder;
    box-shadow: 10px 5px 5px rgb(231, 207, 73);
    /*position: relative;
    top:120px;*/
    display: inline-block;
    vertical-align: middle;
    background: rgb(218, 228, 226);
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
}

.main_intro__button:hover,
.main_intro__button:active{
    background: white;
    color: rgb(19, 16, 26);
    box-shadow: 10px 5px 5px rgb(209, 90, 100);
}

.work_companies__list{
    /*display: inline-block;
    position: relative;
    left:96px;
    bottom:80px;*/
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 382px);
    text-align: right;
    padding: 0;
}

.work_companies__listitem{
    display: inline-block;
    text-decoration: none;
}


.work_companies__listitem  svg {
    width: 80px;
    height: 80px;
    margin:8px;
}

.work_companies__bby svg g{
    fill: gold;
}

.work_companies__rbc svg g{
    fill: blue;
}

.work_companies__rbc svg path:not(:first-of-type) {
    fill:gold;
}

.work_companies__ze svg g{
    fill: red;
}

.work_companies__ibm svg g{
    fill: white;
}

.work_companies__accenture svg g{
    fill: rgb(57, 141, 209);
}

.section_about_me__intro{
    width: 100%;
    /*height: 424px;*/
    height: calc(100% - 480px);
    background-color: #629fd1;
}

.common_footer{
    background-color: black;
}

.common_footer > div{
    color: gold;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding: 16px;
    font-weight: bold;
    font-size: large;
}