@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');

.section_about_me__intro{
    font-family: 'Josefin Sans', sans-serif;
    background-color: #153956;
    padding:0 150px 40px 150px;
}

.about_me__svg > svg{
    display: none;
}

#myIntroduction{
    margin: 0;
    font-size: x-large;
    color: white;
    line-height: 1.6;
    font-weight: 100;
    width: 70%;
}

.about_me__container {
    color: gray;
    font-size: x-large;
    vertical-align: middle;
    padding: 0;
    margin: 0 64px;
}

@media only screen and (min-width: 320px) and (max-width:690px){
    .section_about_me__intro{
        padding: 0 40px !important;
    }

    .about_me__container{
        background-color: #153956;
        width: 100%;
        margin:0;
        left: 0px;
        text-align: center;
        line-height: 1.4em;
    }

    .about_me__svg{
        display: none;
    }

    #myIntroduction{
        font-size: 20px;
        text-align: left;
        padding: 16px;
        font-weight: normal;
        font-weight: 300;
        font-style: italic;
        color: white;
        width: 100% !important;
    }

    .modal_contents__link{
        font-style: italic;
    }

    .section_about_me__intro{
        padding: 0;
    }
}

@media (min-width: 691px) and (max-width:1366px){
    .section_about_me__intro{
        padding: 0 64px 64px 64px !important;
    }

    .about_me__container{
        display: flex;
        margin: 0 !important;
        padding: 16px;
    }

    #myIntroduction{
        width: 70%;
    }
}
@media only screen and (min-width: 570px) and (max-width:690px){
    #myIntroduction{
        width: 80%;
    }
}

@media only screen and (min-width: 1367px) and (max-width:1409px){
    .about_me__container{
        padding: 0 26px;
    }

    #myIntroduction{
        line-height: 3rem;
    }
}


@media only screen and (min-width: 1409px) and (max-width:1467px){
    .about_me__container{
        padding: 0 46px;
    }
    #myIntroduction{
        line-height: 3rem;
    }
}

@media (min-width: 1470px)  and (max-width:1667px){
    .about_me__container{
        padding: inherit;
        margin: auto;
    }

    #myIntroduction{
        line-height: 3rem;
    }
}

@media (min-width: 1670px) {
    .about_me__container{
        padding: inherit;
        
    }

    #myIntroduction{
        line-height: 3rem;
    }
}