@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');

.hamburger_menu{
    display: none;
}

.bar {
    display: none;
    background-color: white;
    width: 30px;
    height: 4px;
    margin: 5px;
}

.modal {
    background-color: rgb(22, 19, 19) ;
    width: 80%;
    height: 100%;
    position: fixed;
    z-index: 400;
    display: none;
}

.close{
    position: absolute;
    right:4px;
    font-size: 28px;
    font-weight: bold;
}

.modal_contents__link{
    display: none;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
}

.modal_contents__linkedin svg{
    width: 42px;
    height: 42px;
    margin: 8px 16px;
}

@media only screen and (min-width: 320px) and (max-width:428px){
    .hamburger_menu{
        position: fixed;
        top: 20px;
        left: 10px;
        display: inline-block;
        vertical-align: middle;
    }

    .bar {
        display: block;
    }

    .modal_contents__linkedin svg > g{
        fill: white;
    }

    .close{
        color: white;
    }
}